body {
    background-color: #777;
    max-width: 960px;
    font-size: 10pt;
    font-family:Helvetica,Arial,sans-serif;
    color: #777;
    line-height: 14pt;
    padding-top: 5px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-left: 200px;
  }
  
.header {
    height: 50px;
    width: 850px;
    text-align: center;
    display: inline-block;
    margin: zero auto;
    font-size: 10pt;
    font-family:Helvetica,Arial,sans-serif;
    color: gray;
    background-color: #ebebeb;
    padding-top: 40px;
  }

.nav {
  height: 50px;
  width: 850px;
  text-align: center;
  font-size: 10pt;
  font-family:Helvetica,Arial,sans-serif;
  color: gray;
  background-color: #ebebeb;
  padding-top: 40px;
}

.section {
  position: absolute;
  height: 200px;
  width: 495px;
  color: gray;
  background: #ebebeb;
  text-align: center;
  z-index: 0;
  padding-top: 10px;
  padding-right: 5px;
}

.aside {
  display: block;
  position: absolute;
  float: right;
  margin-top: 0;
  margin-right: 50px;
  margin-left: 530px;
  height: 120px;
  width: 200px;
  color: gray;
  background: #ebebeb;
  text-align: center;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 70px;
}

.aside::after {
  clear: both;
}

.clearfix:after { 
  content: "aside";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}  

.article {
  float: left;
  position: relative;
  left: 40px;
  margin: auto;
  height: 100px;
  width: 120px;
  padding-top: 10px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 200px;
  border-color: black;
  color: #ebebeb;
  background: #777;
  z-index: 10;
}

#h1,h2,h3 {
  float: left;
  position: absolute;
  margin-left: 100px;
  height: 30px;
  width: 100px;
  background-color: #ebebeb
  color: #777
  z-index: 5;
}

#p {
  float: left;
  position: absolute;
  margin-left: 10px;
  height: 30px;
  width: 200px;
  background-color: #ebebeb;
  color: #777;
  z-index: 5;
}

div {
  position: absolute;
  margin-left: 65px;
  width: 250px;
  height: 25px;
  background-color: white;
  color: darkgray;
  padding-top: 15px;
}

.div1 {
  z-index: 10;
  text-align: center;
}

.div2 {
  z-index: 10;
  text-align: center;
  margin-top: 47px;
}

.clearfix::after {
  content: "p";
  clear: both;
}

.clearfix:after { 
  content: "p";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.footer  {
    float: left;
    border-bottom-left-radius: 0ex;
    height: 50px;
    width: 850px;
    margin-top: 20px;
    text-align: center;
    font-size: 10pt;
    font-family:Helvetica,Arial,sans-serif;
    color: gray;
    background-color: #ebebeb;
    line-height: 14pt;
    padding-top: 40px;
    padding-bottom: 40px;
  }
